@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --background:#0D0D0D;
    --card:#181818;

    --pink:#FF4F8B;
    --pink-hover:#FF6A9E;

    --white:#FFFFFF;
    --grey:#B5B5B5;

    --border:#2C2C2C;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--background);

    color:var(--white);

    font-family:'Inter',sans-serif;

}



.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 8%;

    position:fixed;

    top:0;

    background:#0D0D0D;

    border-bottom:1px solid var(--border);

    z-index:1000;

}

.logo{

    font-size:1.8rem;

    font-weight:700;

    font-family:'Poppins',sans-serif;

}

.logo span{

    color:var(--pink);

}

nav ul{

    display:flex;

    gap:40px;

    list-style:none;

}

nav a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

nav a:hover{

    color:var(--pink);

}